
body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  transition: all 0.2s;
}

header.masthead {
  margin-bottom: 50px;
  background: center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .site-heading {
  text-align: center;
}

header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}


header.masthead.meta,
header.masthead.subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

footer {
  padding: 50px 0 65px;
}


footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  color: rgb(219, 216, 216);
  font-size: 22px;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
  background-color: rgba(73, 51, 13, 0.89);
  float:right
}